/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  width: 70%;
}
/* # UTILS */

.container {
 display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 0;
 }
 .products .products-card{
  flex: 1 0 30%;
  /* debug */
  background-color: grey;
  background-color: white;
  min-height: 300px;
}
.products-card,.card-text{
  background-color: white;
}
.new-price{
  color: red;
}
.old-price{
  color: black;
}